@model IEnumerable<Hospital.Models.PatientVital>

@{
    ViewData["Title"] = "View Patient Vitals";
    Layout = "~/Views/Shared/_LayoutSurgeon.cshtml";
}

<h1>@ViewData["Title"]</h1>

<!-- Search box -->
<input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Search patient vitals..." class="form-control mb-3">

<table class="table" id="patientVitalTable">
    <thead>
        <tr>
            <th class="col-weight">
                @Html.DisplayNameFor(model => model.PatientId)
            </th>
            <th class="col-weight">
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th class="col-height">
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th class="col-height">
                @Html.DisplayNameFor(model => model.BMI)
            </th>
            <th class="col-tempreture">
                @Html.DisplayNameFor(model => model.Tempreture)
            </th>
            <th class="col-blood-pressure">
                @Html.DisplayNameFor(model => model.BloodPressure)
            </th>
            <th class="col-pulse">
                @Html.DisplayNameFor(model => model.Pulse)
            </th>
            <th class="col-respiratory">
                @Html.DisplayNameFor(model => model.Respiratory)
            </th>
            <th class="col-blood-oxygen">
                @Html.DisplayNameFor(model => model.BloodOxygen)
            </th>
            <th class="col-blood-glucose">
                @Html.DisplayNameFor(model => model.BloodGlucoseLevel)
            </th>
            <th class="col-vital-time">
                @Html.DisplayNameFor(model => model.VitalTime)
            </th>
            <th class="col-action">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-weight">
                    @Html.DisplayFor(modelItem => item.PatientId)
                </td>
                <td class="col-weight">
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td class="col-height">
                    @Html.DisplayFor(modelItem => item.Height)
                </td>
                <td class="col-height">
                    @Html.DisplayFor(modelItem => item.BMI)
                </td>
                <td class="col-tempreture">
                    @Html.DisplayFor(modelItem => item.Tempreture)
                </td>
                <td class="col-blood-pressure">
                    @Html.DisplayFor(modelItem => item.BloodPressure)
                </td>
                <td class="col-pulse">
                    @Html.DisplayFor(modelItem => item.Pulse)
                </td>
                <td class="col-respiratory">
                    @Html.DisplayFor(modelItem => item.Respiratory)
                </td>
                <td class="col-blood-oxygen">
                    @Html.DisplayFor(modelItem => item.BloodOxygen)
                </td>
                <td class="col-blood-glucose">
                    @Html.DisplayFor(modelItem => item.BloodGlucoseLevel)
                </td>
                <td class="col-vital-time">
                    @Html.DisplayFor(modelItem => item.VitalTime)
                </td>
                <td class="col-action">
                    <a class="btn-link" asp-action="SurgeonEditPatientVital" asp-route-id="@item.PatientVitalId">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a class="btn-link" asp-action="SurgeonAddPatientVital">Add Patient Vital</a>
</p>

<script>
    function searchTable() {
        var input, filter, table, tr, td, i, j, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toLowerCase();
        table = document.getElementById("patientVitalTable");
        tr = table.getElementsByTagName("tr");

        for (i = 1; i < tr.length; i++) { // Start at 1 to skip table header
            tr[i].style.display = "none"; // Hide the row initially
            td = tr[i].getElementsByTagName("td");

            for (j = 0; j < td.length; j++) { // Loop through columns
                if (td[j]) {
                    txtValue = td[j].textContent || td[j].innerText;
                    if (txtValue.toLowerCase().indexOf(filter) > -1) {
                        tr[i].style.display = ""; // Show the row if a match is found
                        break; // Stop searching the rest of the columns in this row
                    }
                }
            }
        }
    }
</script>
