@model IEnumerable<Hospital.Models.DischargedPatient>

@{
    ViewData["Title"] = "Nurse View Discharges";
    Layout = "~/Views/Shared/_LayoutNurse.cshtml";
}

<h1>Nurse View Discharges</h1>

<p>
    <a class="btn-link" asp-action="NurseDischargePatients">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th class="col-name">@Html.DisplayNameFor(model => model.DischargeTime)</th>
            <th class="col-name">@Html.DisplayNameFor(model => model.DischargeDate)</th>
            <th class="col-name">@Html.DisplayNameFor(model => model.Patient)</th>
            <th class="col-action">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-name">
                    @Html.DisplayFor(modelItem => item.DischargeTime)
                </td>
                <td class="col-name">
                    @Html.DisplayFor(modelItem => item.DischargeDate)
                </td>
                <td class="col-name">
                    @Html.DisplayFor(modelItem => item.Patient.PatientIDNumber)
                </td>
                <td class="col-action">
                    <a class="btn-link" asp-action="NurseEditDischargePatients" asp-route-id="@item.DischargedPatients">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    h1 {
        text-align: center;
        color: #08075F;
        font-weight: bold;
        text-decoration: underline;
    }

    .btn-link {
        background-color: #08075F;
        color: white;
        border: none;
        padding: 5px 10px;
        text-decoration: none;
        cursor: pointer;
        font-size: 13px;
    }

        .btn-link:hover {
            background-color: #FFDE59;
        }

    .table {
        width: 100%;
        border-collapse: collapse;
    }

        .table th, .table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        .table th {
            background-color: #f2f2f2;
        }

        .table tr:nth-child(even) {
            background-color: #f9f9f9;
        }

    /* Ensure all columns have the same width */
    .col-name {
        width: 20%;
    }

    .col-action {
        width: 20%;
        text-align: center;
    }
</style>
