@model IEnumerable<Hospital.Models.PatientCurrentMedication>

@{
    ViewData["Title"] = "NurseViewCurrentMedication";
    Layout = "~/Views/Shared/_LayoutNurse.cshtml";

}

<h1>NurseViewCurrentMedication</h1>


<p>
    <a class="btn-link" asp-action="NurseAddCurrentMedication">Add Current Medication</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentMedication)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentMedication)
            </td>
            <td>
                    <a asp-action="NurseEditCurrentMedication" asp-route-id="@item.MedicationId">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
<style>
    h1 {
        text-align: center;
        color: #08075F;
        font-weight: bold;
        text-decoration: underline;
    }

    .btn-link {
        background-color: #08075F;
        color: white;
        border: none;
        padding: 5px 10px;
        text-decoration: none;
        cursor: pointer;
        font-size: 13px;
    }

        .btn-link:hover {
            background-color: #FFDE59;
        }

    .table {
        width: 100%;
        border-collapse: collapse;
    }

        .table th, .table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        .table th {
            background-color: #f2f2f2;
        }

        .table tr:nth-child(even) {
            background-color: #f9f9f9;
        }

    /* Ensure all columns have the same width */
    .col-name {
        width: 20%;
    }

    .col-action {
        width: 20%;
        text-align: center;
    }
</style>
