@model dynamic

@{
    ViewData["Title"] = "Medication Dispensed Details";
    Layout = "~/Views/Shared/_LayoutNurse.cshtml";
}

<h1>@ViewData["Title"]</h1>
<br>

<!-- Success message -->
@if (TempData["SuccessMessage"] != null)
{
    <div id="successMessage" class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<div class="prescription-item">
    <div class="prescription-details">
        <p><b>Patient ID:</b> @Model.PatientIdnumber</p>
        <p><b>Patient Name:</b> @Model.PatientName @Model.PatientSurname</p>
        <p><b>Medication:</b> @Model.MedicationName</p>
        <p><b>Dosage Form:</b> @Model.PrescriptionDosageForm</p>
        <p><b>Quantity:</b> @Model.Quantity</p>
    </div>

    <!-- Form for receiving and administering medication -->
    <form asp-action="ReceiveMedication" method="post">
        <input type="hidden" name="prescriptionId" value="@Model.PrescriptionId" />
        <input type="hidden" name="patientId" value="@Model.PatientIdnumber" />
        <input type="hidden" name="patientName" value="@Model.PatientName" />
        <input type="hidden" name="medicationName" value="@Model.MedicationName" />
        <input type="hidden" name="medicationId" value="@Model.MedicationId" />
        <input type="hidden" name="dosageForm" value="@Model.PrescriptionDosageForm" />
        <input type="hidden" name="quantity" value="@Model.Quantity" />
        <button type="submit" class="receive-button">Receive & Administer</button>
    </form>
</div>

<a href="@Url.Action("NurseDispensedAlert", "Nurse")" class="view-button">Back to Alerts</a>

<style>
    .prescription-item {
        border: 2px solid #ccc;
        padding: 15px;
        margin-bottom: 15px;
        border-radius: 8px;
    }

    .view-button, .receive-button {
        background-color: #08075F;
        color: white;
        border: none;
        padding: 10px 20px;
        text-decoration: none;
        cursor: pointer;
        font-size: 14px;
    }

        .view-button:hover, .receive-button:hover {
            background-color: #FFDE59;
        }
</style>
