@model IEnumerable<Hospital.Models.DischargedPatient>

@{
    ViewData["Title"] = "Nurse View Discharges";
    Layout = "~/Views/Shared/_LayoutNurse.cshtml";
}

<h1>Nurse View Discharges</h1>

<p>
    <a class="btn-link" asp-action="NurseDischargePatients">Discharge Patient</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th class="col-name">@Html.DisplayNameFor(model => model.DischargeTime)</th>
            <th class="col-name">@Html.DisplayNameFor(model => model.DischargeDate)</th>
            <th class="col-name">@Html.DisplayNameFor(model => model.PatientId)</th>
            <th class="col-action">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-name">
                    @Html.DisplayFor(modelItem => item.DischargeTime)
                </td>
                <td class="col-name">
                    @Html.DisplayFor(modelItem => item.DischargeDate)
                </td>
                <td class="col-name">
                    @Html.DisplayFor(modelItem => item.PatientId)
                </td>
                <td class="col-action">
                    <a class="btn-link" asp-action="NurseEditDischargePatients" asp-route-id="@item.DischargedPatients">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
