@using Hospital.ModelViews
@model PrescriptionFilterViewModel
@{
    Layout = "~/Views/Shared/_LayoutNurse.cshtml";
}

<h1> Nurse Reports</h1>
<br />

<!-- Date filter form with PDF button aligned to the right -->
<div class="filter-container">
    <form method="get" class="filter-form">
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate" value="@Model.StartDate.ToString("yyyy-MM-dd")" style="margin-right: 40px" />

        <label  for="endDate">End Date:</label>
        <input  type="date" id="endDate" name="endDate" value="@Model.EndDate.ToString("yyyy-MM-dd")" />

        <button type="submit" class="btn btn-primary">Filter</button>
    </form>

    <!-- Export to PDF button -->
    <form method="post" asp-controller="Nurse" asp-action="ExportToPdf" class="pdf-form">
        <input type="hidden" name="startDate" value="@Model.StartDate.ToString("yyyy-MM-dd")" />
        <input type="hidden" name="endDate" value="@Model.EndDate.ToString("yyyy-MM-dd")" />
        <button type="submit" class="btn btn-primary">Export to PDF</button>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>DATE & TIME</th>
            <th>PATIENT</th>
            <th>MEDICATION</th>
            <th>QTY</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prescription in Model.Prescriptions)
        {
            <tr>
                <td>@prescription.DispenseDateTime</td>
                <td>@prescription.Patient</td>
                <td>@prescription.MedicationName</td>
                <td>@prescription.Quantity</td>
            </tr>
        }
    </tbody>
</table>

<div style="margin-top: 20px;">
    TOTAL PATIENTS: @Model.Prescriptions.Count(p => p.Patient != null)
</div>

<br />
<br />
<h4>SUMMARY PER MEDICINE:</h4>
   <table class="table">
    <thead>
        <tr>
            <th>MEDICINE</th>
            <th>QTY ADMINISTERED</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Prescriptions
        .Where(p => p.Dispense == "Dispense")
        .GroupBy(p => p.MedicationName)
        .Select(g => new { Medicine = g.Key, Quantity = g.Sum(p => p.Quantity) }))
        {
            <tr>
                <td>@item.Medicine</td>
                <td>@item.Quantity</td>
            </tr>
        }
    </tbody>
</table>

<style>
    .filter-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .filter-form {
        display: flex;
        align-items: center;
    }

    .filter-form label {
        margin-right: 5px;
    }

    .filter-form input {
        margin-right: 10px;
    }

    .pdf-form {
        margin-left: auto;
    }

</style>
