@model IEnumerable<Hospital.Models.PatientCurrentMedication>

@{
    ViewData["Title"] = "NurseViewPatientCurrentMedication";
    Layout = "~/Views/Shared/_LayoutNurse.cshtml";

}

<h1>NurseViewPatientCurrentMedication</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CurrentMedication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentMedication)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.PatientId)
            </td>
            <td>
                   <a class="btn-link" asp-action="NurseEditPatientCurrentMedication" asp-route-id="@item.MedicationId">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a class="btn-link" asp-action="NurseAddPatientCurrentMedication">Add Patient Current Medication</a>
</p>