@model IEnumerable<Hospital.Models.PatientAllergy>

@{
    ViewData["Title"] = "NurseViewPatientAllergy";
    Layout = "~/Views/Shared/_LayoutNurse.cshtml";
}

<style>
    h1 {
        text-align: center;
        color: #08075F;
        font-weight: bold;
        text-decoration: underline;
    }

    .btn-link {
        background-color: #08075F;
        color: white;
        border: none;
        padding: 5px 10px;
        text-decoration: none;
        cursor: pointer;
        font-size: 13px;
    }

        .btn-link:hover {
            background-color: #FFDE59;
        }

    .table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
    }

        .table th, .table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        .table th {
            background-color: #f2f2f2;
        }

        .table tr:nth-child(even) {
            background-color: #f9f9f9;
        }

    .col-patient-id {
        width: 20%;
    }

    .col-allergy {
        width: 60%;
    }

    .col-action {
        width: 20%;
    }
</style>

<h1>Nurse View Patient Allergy</h1>

<p>
    <a class="btn-link" asp-action="NurseAddPatientAllergy">Add Patient Allergy</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th class="col-patient-id">
                @Html.DisplayNameFor(model => model.PatientId)
            </th>
            <th class="col-allergy">
                @Html.DisplayNameFor(model => model.Allergy)
            </th>
            <th class="col-action">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-patient-id">
                    @Html.DisplayFor(modelItem => item.PatientId)
                </td>
                <td class="col-allergy">
                    @Html.DisplayFor(modelItem => item.Allergy)
                </td>
                <td class="col-action">
                    <a class="btn-link" asp-action="NurseEditPatientAllergy" asp-route-id="@item.AllergyId">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
