@model Hospital.ModelViews.PatientDetailsViewModel
@{
    ViewData["Title"] = "AllPatientDetails";
    Layout = "~/Views/Shared/_LayoutNurse.cshtml";

}
<h1>Patient Details</h1>

<p><strong>ID Number:</strong> @Model.PatientIDNumber</p>
<p><strong>First Name:</strong> @Model.PatientName</p>
<p><strong>Surname:</strong> @Model.PatientSurname</p>
<p><strong>Address:</strong> @Model.PatientAddress</p>
<p><strong>Contact Number:</strong> @Model.PatientContactNumber</p>
<p><strong>Email Address:</strong> @Model.PatientEmailAddress</p>
<p><strong>Date of Birth:</strong> @Model.PatientDateOfBirth.ToShortDateString()</p>
<p><strong>Gender:</strong> @Model.PatientGender</p>

<h2>Allergies</h2>
@if (Model.Allergies != null && Model.Allergies.Any())
{
    <ul>
        @foreach (var allergy in @Model.Allergies)
        {
            <li>@allergy.Allergy</li>
        }
    </ul>
}
else
{
    <p>No known allergies.</p>
}

<h2>Current Medications</h2>
@if (Model.CurrentMedications != null && Model.CurrentMedications.Any())
{
    <ul>
        @foreach (var medication in @Model.CurrentMedications)
        {
            <li>@medication.CurrentMedication</li>
        }
    </ul>
}
else
{
    <p>No current medications.</p>
}

<h2>Medical Conditions</h2>
@if (Model.MedicalConditions != null && Model.MedicalConditions.Any())
{
    <ul>
        @foreach (var condition in @Model.MedicalConditions)
        {
            <li>@condition.MedicalCondition</li>
        }
    </ul>
}
else
{
    <p>No known medical conditions.</p>
}
